# Build Files #
*.class
target/

# Package Files #
*.jar
*.war
*.ear

# IDE Files #
nb-configuration.xml
/CONNECT-AdapterDocumentAssemblyProxy/nbproject/private/
/CONNECT-AdapterDocumentAssemblyProxy/DocumentAssemblyManagerEJB/nbproject/private/