*.class

# Package Files #
*.jar
*.war
*.ear

.classpath
.project
.settings
.metadata
.checkstyle
.DS_Store
.pmd
*.log
MANIFEST.MF
.externalToolBuilders/
maven-eclipse.xml
build/
dist/
lib/
C:/
bin/
unit-test-reports/
coverage-reports/
build.generated/
ivy-cache/
ivy-project-cache/
target/
CheckstyleReport/
MANIFEST.MF
.settings/
.settings/org.eclipse.wst.common.component
WebContent
